.container-fluid {
  .card {
    .card-header {
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }
    th {
      .icon {
        i {
          cursor: pointer;
          border: 1px solid black;
          border-radius: 5px;
          padding: 0 3px;
          margin: 0 4px;
        }
        i.active {
          background-color: rgb(200, 205, 205);
        }
      }
    }

    td {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .action-wrapper {
        display: flex;
        gap: 15px;
      }
    }
    td:nth-child(5) {
      white-space: nowrap;
      overflow: hidden;
    }

    .price::first-letter {
      padding-right: 5px;
    }
  }
}
