<form [formGroup]="employeeForm">
  <div class="container-fluid m-2">
    <div class="card">
      <div class="card-header bg-warning">New Employee</div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Full Name</label>
            <input
              class="form-control"
              type="text"
              name="fullName"
              placeholder="full name"
              formControlName="fullName"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <label for="">Email</label>
            <input
              class="form-control"
              type="text"
              name="email"
              placeholder="email"
              formControlName="email"
            />
          </div>

          <div class="col-3">
            <label for="">Phone</label>
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="phone number"
              formControlName="phone"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="">Gender</label>
            <br />
            <input
              class="gender-input ms-2"
              type="radio"
              name="gender"
              value="male"
              formControlName="gender"
            />
            <span class="ms-2 me-4 fs-5">Male</span>
            <input
              class="gender-input"
              type="radio"
              name="gender"
              value="female"
              formControlName="gender"
            />
            <Span class="ms-2 fs-5">Female</Span>
          </div>
          <div class="col-3">
            <label for="">Date of Joining</label>
            <input
              class="form-control"
              type="date"
              name="dateOfJoining"
              formControlName="dateOfJoining"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="">Select Department</label>
            <select
              class="form-select"
              name="departmentId"
              formControlName="departmentId"
              (change)="getDesignation()"
            >
              <option value="">-----Select-----</option>
              <option *ngFor="let dept of deptList" [value]="dept.departmentId">
                {{ dept.departmentName }}
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Select Designation</label>
            <select
              class="form-select"
              name="designationId"
              formControlName="designationId"
            >
              <option value="">-----select-----</option>
              @for(item of designationList; track $index){
              <option [value]="item.designationId">
                {{ item.designationName }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <label for="">Select Employee Type</label>
            <select
              class="form-select"
              name="employeeType"
              formControlName="employeeType"
            >
              <option value="Contract">Contract</option>
              <option value="Permanant">Permanant</option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Salary</label>
            <input
              class="form-control"
              type="number"
              name="salary"
              placeholder="salary"
              formControlName="salary"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-center">
            <button class="btn btn-secondary" (click)="intializeForm()">
              Reset
            </button>
          </div>
          <div class="col-3 text-center">
            @if (employeeForm.get('employeeId')?.value==0 ) {

            <button
              class="btn btn-success"
              (click)="onSaveEmployee()"
              [disabled]="employeeForm.invalid"
            >
              Save Employee
            </button>
            } @else {
            <button
              class="btn btn-success"
              (click)="onUpdateEmployee()"
              [disabled]="employeeForm.invalid"
            >
              Update Employee
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
